.manage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 39px

}

.manage-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    place-items: center;
    gap: 30px;
    margin-top: 30px;

}

.manage-container {
    /* display: flex;
    width: 21vw;
    height: 340px;
    flex-direction: column;
    border-radius: 8px;
    margin-right: 20px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20vw;
    height: 300px;

}
.manage-welcome {
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.manage-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.manage-page > .spot-name-row, .manage-page> a:link,.manage-page > .manage-page:visited   {
    text-decoration: none;
    background-color: transparent;
    color: black;
    margin-top: 30px
}
.manage-name:hover {
    font-weight: 700;
}
.manage-change {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-top: 8px
}
.spot-name-row {
    display: flex;
    flex-direction: row;
    width: 21vw;
    margin-top: 5px;
    text-decoration: none;
}

.btn-update {
    color: #fff;
    border:none;
    border-radius:10px;
    padding:10px;
    font-weight: 700;
    width: 80px;
    height: 40px;
    background: #c04444;
    cursor: pointer;
}

.btn-update:hover {
    background: #FF5A5F;

}

.update {
    margin-right: 10px;
}
.link-createee{
   background-color: #FF5A5F;
   width: 20vw;
   height: 35px;
   border-radius: 10px;
   text-decoration: none;
    margin-left: 38%;
    margin-bottom: 100px;
    border: none;

}
.spot-name {
    flex-grow: 1;
    max-width: 18vw;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.btn-link-createee {
    height: 37px
}
.create-spot-linkk{
   text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 500;
}
.link-createee:hover {
    background-color: rgb(32, 24, 24);
    cursor: pointer;
}
.img-card-list {
    border-radius: 5px;
}
