.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
    background: #ffffff;
    padding: 18px;
    border-radius: 10px;
}


.login-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.login-title {
    padding: 22px
}

.login-input {
    border: 0;
    width: 100%;
    background: transparent;
    padding: 18px
}

.login-input:focus {
    outline: none;
}
.login-input-email {
    border-bottom: 1px solid #cccccc;
}

.login-info {
    border: 1px solid #cccccc;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.login-btn {
    background: #e05358;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
    height: 51px
}
.login-btn:hover {
    background: #b90322;
    text-decoration: none;
}
